
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'Components/banner.css';
@import 'Components/buttons.css';

h1{
	color: whitesmoke;

}


body{
  font-family: 'Roboto', sans-serif;
  background-color: honeydew;
  margin:0;
}

#banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: middle;

}
